# ignore OS X and server files 
.DS_Store
.htaccess
 
# Xcode user data
**.pbxuser
**.mode?v?
**.perspectivev?
**.xcworkspace
**/xcuserdata

# private files
sqlite3_unicode.*

# Ads
SMAATOConfig.h
iSoma.framework

